doctype
html
  head
    title apriori
    meta(charset="utf8")
    meta(name='viewport' content ='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='css/style.css')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    script(src="js/script.js")
  body
      .wrapper.clearfix
        .buttons
          a.btn.btn-services(href="")  услуги
          a.btn.btn-portfolio(href="") портфолио
        form
          input(type="text" placeholder="Имя..." autofocus maxlength="20")      
          input(type="tel" pattern="\(\d\d\d\) ?\d\d\d-\d\d-\d\d" placeholder="Телефон...")
          a.btn.btn-application(href="")  оставить заявку
        - 
          var n = 0;
          var titles = [
            'Заголовок',
            'Заголовок 2',
            'Заголовок 3',
            'Заголовок 4',
            'Заголовок 5',
            'Заголовок 6'
          ];
          var text = [
            'Давно выяснено что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому что тот обеспечивает более или менее стандартное заполнение шаблона а также реальное распределение букв и пробелов в абзацах которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию ',
            'Давно выяснено что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому что тот обеспечивает более или менее стандартное заполнение шаблона а также реальное распределение букв и пробелов в абзацах которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию',
            'Давно выяснено что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому что тот обеспечивает более или менее стандартное заполнение шаблона а также реальное распределение букв и пробелов в абзацах которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию',
            'Давно выяснено что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому что тот обеспечивает более или менее стандартное заполнение шаблона а также реальное распределение букв и пробелов в абзацах которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию',
            'Давно выяснено что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому что тот обеспечивает более или менее стандартное заполнение шаблона а также реальное распределение букв и пробелов в абзацах которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию',
            'Давно выяснено что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому что тот обеспечивает более или менее стандартное заполнение шаблона а также реальное распределение букв и пробелов в абзацах которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию'
          ];
          var maintitle = [
            'проетирования',
            'ОБСЛЕДОВАНИЕ',
            'перепланировок',
            'ДИЗАЙН-ПРОЕКТЫ',
            'планировок территории',
            'СТРОИТЕЛЬСТВО'
          ];
          var texticon = [
            'Прайс',
            'Статьи',
            'Заказать',
            'ОТЗЫВЫ'
          ];
        .features
        while n < 6
          .feature(class="reature_"+n)
            .wrapper.clearfix
              .feature__inner
                .feature__main
                  a.feature__icons.clearfix
                    .icon.icon-price
                    .icon-title=texticon[0]
                  a.feature__icons.clearfix
                    .icon.icon-articles
                    .icon-title=texticon[1]
                  a.feature__icons.clearfix
                    .icon.icon-order
                    .icon-title=texticon[2]
                  a.feature__icons.clearfix
                    .icon.icon-reviews
                    .icon-title=texticon[3]
                  .feature__title.clearfix=titles[n]
                  .feature__text=text[4]
              .feature__inner
                .feature__main-title=maintitle[n]
          -n++